<h2>Close call</h2>
<hr>
<%= simple_form_for(@call) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :person_mobile, disabled: true %>
    <%= f.input :status, as: :hidden, input_html: {value: "closed"} %>
    <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
    <%= f.simple_fields_for :person, @person do |p| %>
      <%= p.input :person_name, disabled: @disabled %>
      <%= p.input :institution_name, disabled: @disabled %>
      <%= p.input :person_email, disabled: @disabled %>
      <%= p.input :person_state, disabled: @disabled %>
    <% end -%>
    <%= f.input :remarks %>
  </div>
<%= f.button :submit, class: "btn btn-primary" %>
<% end -%>
