<%= form_tag calls_path, class: "form-search", method: :get do %>
    <p>
    <%= text_field_tag :query, params[:query], class: "input-large search-query" %>
    <%= text_field_tag :from, params[:from], class: "input-medium search-query datepicker", placeholder: "Created at: From" %>
    <%= text_field_tag :to, params[:to], class: "input-medium search-query datepicker", placeholder: "Created at: To" %>
    <%= submit_tag "Search", name: nil, class: "btn" %><br><br>
    <p class="muted">Hint: Use the following keywords to filter. <b style="font-size: 130%">mobile:, name:, company:, email:, closed_by:</b>. Use <b style="font-size: 120%">AND OR NOT</b> to combine results.</p> 
  </p>
<% end %>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Call Type</th>
      <th>Call from</th>
      <th>Name</th>
      <th>Institution</th>
      <th>Email</th>
      <th>State</th>
      <th>Closed by</th>
      <th>Remarks</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each_with_index do |call, index| %>
      <tr>
        <td><%= call.id %></td>
        <td><%= call.status.humanize %></td>
        <td><%= call.call_type.humanize rescue "N/A" %></td>
        <td><%= call.mobile %></td>
        <td><%= call.name || "N/A" %></td>
        <td><%= call.company || "N/A" %></td>
        <td><%= call.email || "N/A" %></td>
        <td><%= call.state || "N/A" %></td>
        <td><%= call.closed_by || "N/A" %></td>
        <td><%= call.remarks %></td>
        <td><%= call.created_at.to_time.in_time_zone("Mumbai").to_s(:short) %></td>
        <td><%= call.updated_at.to_time.in_time_zone("Mumbai").to_s(:short) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
<%= will_paginate @calls %>
