<tr class="row_<%= call.id %>">
  <td><%= call.id %></td>
  <td><%= call.person_mobile %></td>
  <td><%= call.person.try(:person_name) || "N/A" %></td>
  <td><%= call.person.try(:institution_name) || "N/A" %></td>
  <td><%= call.person.try(:person_email) || "N/A" %></td>
  <td><%= call.person.try(:person_state) || "N/A" %></td>
  <td><%= call.updated_at.to_s(:short) %></td>
  <td><a href="/calls/<%= call.id %>/edit" class="btn btn-success">Close</a></td>
