<h1>Listing Attendants</h1>
<%= link_to 'New Attendant', new_user_path, class: "btn btn-primary" %>
<hr>

<table class="table table-bordered" id="datatables">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Product</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.product %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

