<h1>New User</h1>
<hr>

<%= simple_form_for(@user, url: users_path(@user)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, label: "Name" %>
    <%= f.input :email %>
    <%= f.input :product, collection: ['engineer','xpress','all'], prompt: "Please select a product" %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to 'Back', root_path, class: "btn" %>
  </div>
<% end %>
