<div class="row">
  <h1 style="font-size: 450%;"><%= content_tag :div, pluralize(@call.count.to_s, " Pending Call"), class: @status + " span12 center call_count" %></h1>
</div>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Call from</th>
      <th>Name</th>
      <th>Institution</th>
      <th>Email</th>
      <th>State</th>
      <th>Updated At</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody class="table_body">
    <% @call.each do |call| %>
    <%= render 'table_row', call: call %>
    <% end -%>
  </tbody>
</table>
<%= tag "div", class: "call-count", data: { count: @call.count } %>
<% if @user.admin? or @user.product == "all" -%>
  <%= subscribe_to "/calls/engineer" %>
  <%= subscribe_to "/calls/xpress" %>
  <%= tag "div", class: "channel-data", data: { call: ["/calls/engineer", "/calls/xpress"] } %>
<% else -%>
  <%= subscribe_to "/calls/#{@user.product}" %>
  <%= tag "div", class: "channel-data", data: { call: ["/calls/#{@user.product}"] } %>
<% end -%>
