<div class="span6">
  <br><br><br>
  <div class ="well center" style="font-size: 300%; font-weight: bold; padding: 1em; width: 100%; height: 100%;">
    <p>Missed Call Alerts</p>
  </div>
</div>
  <div class="offset3 span2">
    <h3>Login</h3>
    <hr>
    <%= render 'user_sessions/form' %>
  </div>
